main {
    align-items: center;
}

h2 {
    margin-bottom: 0;
}

h3 {
    margin: 0;
}


.historia_pag_historia {
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px auto 10px auto;
    padding: 15px 15px 15px 50px;
    width: 1000px;
    background-color: rgb(247, 206, 120);
    box-shadow: 5px 5px 10px rgba(1, 1, 17, 0.664);
    position: relative;
}

.linha_tempo {
    background-color: black;
    width: 10px;
    height: 95%;
    position: absolute;
    left: 20px;
    top: 38px;
} 

.bolinha {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    left: -40px;
    top: 11px;
}

.bolinha_dentro {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    position: absolute;
    left: 8px;
    top: 7px;
}

.ponte {
    background-color: black;
    width: 47px;
    height: 4px;
    position: absolute;
    left: 29px;
    top: 14px;
}

.texto {
    margin: 0;
    text-indent: 10px;
    text-align: justify;
    padding: 5px 5px 3px 5px;
}

@media (max-width: 420px) {
    .historia_pag_historia {
        height: 100%;
        width: 80%;
    }

    .linha_tempo {
        height: 95%;
        left: 27px;
        top: 67px;
    }

    .bolinha {
        position: relative;
        left: -34px;
        top: 14px;
    }

    .logo_neca {
        margin-left: -27px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: -68px;
        margin-top: 17px;
    }

   .menu div {
        align-items: center;
    }

    .texto {
        margin: 0;
        padding-bottom: 0;
    }

    h3 {
        margin: 0;
    }
    
    h2 {
        margin-bottom: 0;
    }

    .botao_topo {
        top: 1946px;
        left: 292px;
    }

    .botao_topo .seta_e_topo {
        left: 29%;
    }

    .botao_topo .meio {
        left: 27px;
    }

    .botao_topo .seta_e_topo:last-of-type {
        left: 34px;
    }
}
