main {
    align-items: center;
}

.historia_pag_historia {
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 15px 15px 50px;
    width: 1000px;
    background-color: rgb(247, 206, 120);
    box-shadow: 5px 5px 10px rgba(1, 1, 17, 0.664);
    position: relative;
}

.linha_tempo {
    background-color: black;
    width: 10px;
    height: 1586px;
    position: absolute;
    left: 20px;
    top: 38px;
} 

.bolinha_2016 {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 11px;
    top: 91px;
}

.bolinha_2017 {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 11px;
    top: 308px;
}

.bolinha_2018 {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 11px;
    top: 658px;
}

.bolinha_2019 {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 11px;
    top: 875px;
}

.bolinha_2020 {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 11px;
    top: 1027px;
}

.bolinha_2021 {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 11px;
    top: 1226px;
}

.bolinha_2022 {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 11px;
    top: 1341px;
}

.bolinha_2023 {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 11px;
    top: 1559px;
}

.bolinha_breve{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 11px;
    top: 1606px;
}


.bolinha_dentro {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    position: absolute;
    left: 8px;
    top: 7px;
}

.ponte {
    background-color: black;
    width: 47px;
    height: 4px;
    position: absolute;
    left: 29px;
    top: 14px;
}

.texto {
    margin: 10px;
    text-indent: 10px;
    text-align: justify;
    padding: 10px;
}

@media (max-width: 420px) {
    .historia_pag_historia {
        height: 100%;
        width: 80%;
    }

    .linha_tempo {
        height: 98%;
        left: 27px;
        top: 67px;
    }

    .bolinha_2016 {
        top: 53px;
    }

    .bolinha_2017 {
        top: 684px;
    }
    
    .bolinha_2018 {
        top: 1674px;
    }
    
    .bolinha_2019 {
        top: 2282px;
    }
    
    .bolinha_2020 {
        top: 2722px;
    }
    
    .bolinha_2021 {
        top: 3254px;
    }
    
    .bolinha_2022 {
        top: 3510px;
    }
    
    .bolinha_2023 {
        top: 3904px;
    }

    .bolinha_breve{
        top: 4277px;
    }

    .logo_neca {
        margin-left: -27px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: -68px;
        margin-top: 17px;
    }

   .menu div {
        align-items: center;
    }
}
