/** corpo **/

section{
    margin: 0px;
}

h3 {
    text-indent: 10px
    
}
div {
    margin: auto;
    width: 200px;
    text-align: center;
}

h4 {
    text-align: left;
}

main {
    align-items: center;
}
/** Slide **/

.slides {
    background-color: rgb(252, 253, 168);
    width: 1349px;
    align-items: center;
}

/** corpo home**/
.historia {
    margin: auto;
    text-align: justify;
    padding: 0px 30px 10px 30px;
}

.producoes {
    background-color: rgb(247, 206, 120);
    margin: auto;
    padding: 0px 30px 10px 30px;
    text-align:justify;
    
}

.texto {
    margin: 10px;
    text-indent: 10px;
    text-align: justify;
    padding: 10px;
}

.atores {
    display: flex;
    justify-content: space-around;
}

.divgrupo {
    border: 1px;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
}


.foto_ator {
    width: 150px;
    border: 2px black solid;
    border-radius: 150px;
}


.caixa_contato {
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
    padding: 15px;
    width: 500px;
    background-color: rgb(247, 206, 120);
    box-shadow: 5px 5px 10px rgba(1, 1, 17, 0.664);
}

.projetos {
    background-color: rgb(247, 206, 120);
    margin: auto;
    padding: 0px 30px 10px 30px;
    
}

.projeto_tag {
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

.saiba_mais {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-size: 15px;
}

@media (max-width: 420px) {
    main {
        align-items: center;
    }

    nav:last-of-type {
        display: none;
    }

    .mobile {
        display: flex;
        height: 100px;
        width: 380px;
    }

    .logo_neca {
        align-items: end;
    }

    .gallery {
        width: 380px;
        display: flex;
    }

    .imagem_slide {
        width: 380px;
    }

    .controls .control-button {
        font-size: 17em;
    }

    .container   {
        width: 381px;
    }

    .texto {
        font-size: 20px;
        
    }

    h3 {
        font-size: 35px;
        margin-bottom: -10px;
    }

    .saiba_mais {
        font-size: 25px;
    }

    .atores {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .divgrupo:last-of-type {
        display: none;
    }

    .foto_ator {
        width: 150px;
    }

    footer {
        height: 600px;
    }

    .informacoes {
        flex-direction: column;
    }
}